html {
  background: #070707;
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.buttonPlay {
    background-color: #C226A5; /* Hot Pink */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    box-shadow: inset;
}

.buttonStop {
    background-color: #2A3A3D; /* Grey-Blue */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    box-shadow: inset;
}

.buttonGodMode {
    background-color: #1065C4; /* Cool Blue */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    box-shadow: inset;
}

.buttonSpeedUp {
    background-color: #4CA628; /* Moss Green */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    box-shadow: inset;
}
.buttonHitBox {
    background-color: #FFAB00; /* Orange */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    box-shadow: inset;
}

.buttonStopEnemies {
    background-color: #F40303; /* Very Red */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    box-shadow: inset;
}

.buttonLevelOne {
    background-color: #9B59B6; /* Purple */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    box-shadow: inset;
}

.buttonLevelTwo {
    background-color: #85C1E9; /* Light Blue */
    border: inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    box-shadow: inset;
}